<html>
<head>
    <title>Brewpub</title>
    <link rel='stylesheet' href='static/CSS/flask_stylesheet.css'/></head>
<body>

  {{links|safe}}
    
  <h1>Add new drink</h1>
  <form id="adddrink" action="/browse_drinks.html" method="post">
      Price: <input type="number" name="price" placeholder="required"><br>
      Name: <input type="text" name="name" placeholder="required"><br>
      Inventory: <input type="number" name="inventory" placeholder="required"><br>
      Secret Ingredient: <select name="sec_ing">
              {% for i in ingredients %}
                <option value="{{ i[0] }}">{{ i[1] }}</option>
              {% endfor %}
          </select><br>
      <input type="submit" value="Submit">
  </form>

  <h3><a href="/drink_search">Search for a Drink</a></h3>

  <h1>Current Drinks</h1>


    <table border='1'>
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Inventory</th>
            <th>Secret Ingredient</th>
        </thead>
        <tbody>
          {% for r in rows %}
          <tr>
            <td>{{ r[0] }}</td>
            <td>{{ r[4] }}</td>
            <td>{{ r[1] }}</td>
            <td>{{ r[2] }}</td>
            <td>{{ r[3] }}</td>
            <td> <input type='button' name='Update' value='Update' onclick="window.location = '/update_drink/{{r[0]}}'"> </td>
            <td> <input type='button' name='Delete' value='Delete' onclick="window.location = '/delete_drink/{{r[0]}}'"></td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
    <br>
  </body>
</html>



