<html>
    <head>
        <title>Drink Search</title> 
    </head>
<body>
    <h1>Drink Search</h1>
    <form class="example" method="POST" action="">
        <input type="text" placeholder="Search by drink ID" name="drink">
        <input type="submit" value="Submit">
    </form>
    <br>
    <table border='1'>
        <thead>
            <th>ID</th>
            <th>Price</th>
            <th>Inventory</th>
            <th>Secret Ingredient</th>
        </thead>
        <tbody>
          {% for d in drink %}
          <tr>
            <td>{{ d[0] }}</td>
            <td>{{ d[1] }}</td>
            <td>{{ d[2] }}</td>
            <td>{{ d[3] }}</td>
            <td> <input type='button' name='Update' value='Update' onclick="window.location = '/update_drink/{{d[0]}}'"> </td>
            <td> <input type='button' name='Delete' value='Delete' onclick="window.location = '/delete_drink/{{d[0]}}'"></td>
          </tr>
          {% endfor %}
        </tbody>
    </table>

</body>
</html>
